<!-- <h1>Bread for no Bread</h1>
<h2>Sign up</h2>


    <%= form_for(@user) do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

 
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %> -->
