<h1>Bread for No bread - Users</h1>

<table>
<thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>User Id</th>
  <th>Referral Key</th>
  <th>Entries</th>
</thead>
<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        <td><%= user.referral_key %></td>
        <td>
          <ul>
            <% user.entries.each do |entry| %>
              <li><%= entry.id %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'delete', user, method: :delete %></td>
      </tr>
    <% end %>
</tbody>  
</table>

<%= link_to 'Export to Excel', url_for(:format => 'xls') %>