<h1>Bread for No bread - Sign up</h1>

    <%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label 'Referral Key' %>
      <%= f.number_field :referral %>
 
      <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    <% end %>
